{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'not_reacted' %}">Ecobank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_staff %}
          <li class="nav-item active">

            <a class="nav-link" href="{% url 'signup' %}">Signup <span class="sr-only">(current)</span></a>
          </li>
            {% endif %}

        {% if request.user.is_authenticated %}
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'not_reacted' %}">Not Reacted</a>
          </li>

          <li class="nav-item active">
          {% with undefined.count as total_undefined %}
              {% if not total_undefined %}
                <a class="nav-link" href="{% url 'undefined_alert' %}">UNDEFINED </a>
              {% else %}
                <a class="nav-link" href="{% url 'undefined_alert' %}">UNDEFINED <span class="badge badge-danger">{{ total_undefined }}</span></a>
              {% endif %}

          {% endwith %}
          </li>

        {% endif %}
        {% if request.user.is_staff %}
            <li class="nav-item active">

            <a class="nav-link" href="{% url 'true_positive' %}">True Positive</a>
            </li>

            <li class="nav-item active">

            <a class="nav-link" href="{% url 'false_positive' %}">False Positive</a>
            </li>
        {% endif %}
        </ul>
        <div class="mt-2 mt-md-0 text-white">
          {% if user.is_authenticated %}
              Hi  <a href="{% url 'password_change' %}" class="text-white " data-toggle="tooltip"  data-placement="bottom" title="Change password">{{ user.username|capfirst }}!</a> <a class="text-white" href="{% url 'logout' %}">  Logout</a>
            {% else %}
            <p class="text-white">You need to be logged in to continue!! .<a class="text-white" href="{% url 'login' %}">Login</a></p>

            {% endif %}
        </div>
      </div>
    </nav>





<div class="container clearfix">
{% if user.is_authenticated %}
    <ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    </ul>
{% endif %}
</div>

<div class="container">
    {% block content %}

{% endblock %}






</div>

<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>

	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>

	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>

	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>

	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>

	<script src="{% static 'js/main.js' %}"></script>


</body>
</html>