{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create an account{% endblock %}

{% block content %}

    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active"><h1><strong>SIGNUP</strong></h1></li>
      </ol>

    <div class="limiter">
        <div style="padding-bottom:10px;" class="container">
            <h1>Create an account</h1>
        <p>Please, sign up using the following form:</p>
        <form action="." method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							SignUp
						</button>
            </div>
        </form></div>

    </div>

{% endblock %}